# Part 1: Manipulating Data with Pandas library

In [78]:
import pandas as pd

#Import des données avec selection des colonnes nécessaires
film_df = pd.read_csv("movies_metadata.csv", usecols= ["title","release_date","budget","revenue","runtime","genres"] )
film_df.head()

,budget,genres,release_date,revenue,runtime,title
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,373554033.0,81.0,Toy Story
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,262797249.0,104.0,Jumanji
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,0.0,101.0,Grumpier Old Men
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,81452156.0,127.0,Waiting to Exhale
4,0,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,76578911.0,106.0,Father of the Bride Part II

In [88]:
film_df.dtypes

budget          float64
genres           object
release_date     object
revenue         float64
runtime         float64
title            object
dtype: object

In [80]:
float_budget = float('budget')

ValueError: could not convert string to float: 'budget'

Il n'est pas possible de convertir un string en float

In [64]:
def to_float(number):
    for i in range (len(number)):
        if type(number) == 'str':
            number[i] == 'NA'
        else :
            number[i]=float(number[i])
            
    afficher=to_float(number)
    
    print(afficher)

In [76]:
def float_test(column):
    for i in range (len(column)) :
        
        column[i] = pd.to_numeric(column, downcast='signed')
        
    afficher=float_test(column)
    
    print(afficher)

In [74]:
to_float('budget')

ValueError: could not convert string to float: 'b'

In [77]:
 float_test('budget')

ValueError: Unable to parse string "budget" at position 0

In [89]:
#Conversion des la colonne budget en float
film_df['budget'] = pd.to_numeric(film_df['budget'], errors='coerce')

'budget'